HostId:{{hostid}}
HostNQN:{{hostnqn}}
$Start
AttemptName:Attempt1
MacString:{{mac}}
TargetPort:{{targetport}}
TargetIp:{{targetip}}
InitiatorInfoFromDhcp:TRUE
Enabled:1
IpMode:0
NQN:nqn.2024-06.ubuntu-nvmeotcp-poc-target
ConnectTimeout:6000
DnsMode:FALSE
$End
